{% if site.social_service_links %}
<div id="social-links">
  <ul>
    {% if site.googleplus_user %}
    <li id="social-links-github">
      <a title="plus" href="http://plus.google.com/u/0/{{ site.googleplus_user }}">plus</a>
    </li>
    {% endif %}
    {% if site.twitter_user %}
    <li id="social-links-twitter">
      <a title="twitter" href="http://twitter.com/{{ site.twitter_user }}">twitter</a>
    </li>
    {% endif %}
    {% if site.tumblr_user %}
    <li id="social-links-tumblr">
      <a title="tumblr" href="http://{{ site.tumblr_user }}.tumblr.com/">tumblr</a>
    </li>
    {% endif %}
    {% if site.github_user %}
    <li class="svg-link">
      <a href="https://github.com/{{ site.github_user }}">
        <img src="/images/socialis/glyph/github.svg" title="github" class="github">
      </a>
    </li>
    {% endif %}
    {% if site.weibo_user %}
    <li class="svg-link weibo">
      <a href="http://weibo.com/{{ site.weibo_user }}">
        <img src="/images/socialis/glyph/weibo.svg" title="weibo">
      </a>
    </li>
    {% endif %}
    <li id="social-links-feed">
      <a title="feed" href="/atom.xml">feed</a>
    </li>
  </ul>
</div>
{% endif %}
